p {
    display: inline-block;
}
.main-head {
    margin: 10px;
    
}
.icons {
    font-size: 15px;
}
.main-head {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 10px;
    border: 1px solid;
    border-right: none;
    border-left: none;
    border-top: none;
}
.corner{
    margin: 10px;
}
.corner .ant-input {
    height: 5vh;
}
.icons {
    margin: 5px;
    font-size: 15px;
}
.fas .fa-at {
    font-size: 25px;
}
@media screen and (min-width:300px) and  (max-width: 400px){
 .main-head {
    flex-direction: column;
 }
}