.detail {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 5px;
    padding: 5px;
}
h1 {
    font-size: 18px;
}
.profilepic{
    width: 40px;
    border-radius: 5px;
}
.name{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 0px 10px;
    
}
.name p {
    margin: 5px 5px 0px 5px;
}
.post {
    width: 100%;
}
.posting {
    margin: 5px;
   
}
.heart-icon {
    color: red;
    margin: 5px;
}
.likes img{
        width: 30px;
        border-radius: 5px;
        margin: 2px;
}
.second img {
    width: 40px;
}
.post {
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.comments {
    margin-left: 5%;
}
.second-post {
    margin-left: 10px;
}
.ant-input {
    color: black;
    height: 8vh;
    margin: 3px;
    border-color: black;
}
.ant-input-prefix {
    padding: 5px;
}